.ecosystem-wrapper
  .ecosystem-text
    h2
      | l'ecosistema
      br
      span
        | comfort
        span 
          | sense 
    p
      | Un sistema di sensori fissi e portatili raccoglie i dati ambientali relativi al comfort e li rende disponibili tramite l’app. Le persone possono, a loro volta, restituire un riscontro soggettivo che permetterà al sistema di imparare e adattarsi alle necessità collettive di chi utilizza gli spazi.
  
  .ecosystem-image
    img(src="")
