.gallery-hero-wrapper
  .gallery-hero
    div
      .gallery-hero-img
        img(src="images/hero-1.png")
      .gallery-hero-text
        h1#hero-main-text
          span CROWDSENSING 
          br
          | PER UN COMFORT 
          br
          span SOSTENIBILE

        p
          | Partendo dalle persone, ComfortSense ha l’obiettivo di creare un sistema in grado di adattare gli spazi a un nuovo concetto di comfort.
    
    div
      .gallery-hero-img
        img(src="images/hero-2.png")
      .gallery-hero-text
        h1.hero-second-text
          span GLI SPAZI IN CUI VIVIAMO 
          br
          | SONO POCO 
          br
          span CONFORTEVOLI
        
        p
          | Spesso gli ambienti in cui ci muoviamo non sono adatti alle nostre necessità e provocano un disagio fisico, con il quale impariamo a convivere.
    
    div
      .gallery-hero-img
        img(src="images/hero-3.png")
      .gallery-hero-text
        h1.hero-second-text
          span PER QUESTO STIAMO PROGETTANDO 
          br
          | UN SISTEMA 
          br
          span FLESSIBILE

        
        p
          | ComfortSense mette in comunicazione i tuoi bisogni con l’ambiente che ti circonda. In ogni momento puoi accedere ai dati raccolti dai sensori e fornire un riscontro sul tuo effettivo livello di comfort.
    
    div
      .gallery-hero-img
        img(src="images/hero-4.png")
      .gallery-hero-text
        h1.hero-second-text
          span GLI EDIFICI 
          br
          | IMPARANO  
          br
          span DALLE PERSONE

        
        p
          | Reagendo e interpretando i dati soggettivi raccolti tramite le persone, gli spazi si adattano a coloro che li utilizzano.
    
    div
      .gallery-hero-img
        img(src="images/hero-5.png")
      .gallery-hero-text
        h1.hero-second-text
          span UN SISTEMA SCALABILE 
          br
          | VERSO LA  
          br
          span SMART CITY

        p
          | Attorno alle persone si crea un nuovo concetto di comfort sostenibile che, adattato su una scala più grande, consente un controllo flessibile della città e dei suoi consumi.
        
        button.btn
          | Scarica l'app in beta
