.ilprogetto-wrapper
  h2
    span il progetto 
    br
    | comfort
    span sense
  p
    | ComfortSense nasce da un bando della Regione Piemonte per sostenere la ricerca e lo sviluppo sperimentale di applicazioni integrate e innovative nell’ambito dell’internet of data (IoD)..
