.living-lab-wrapper
  .living-lab-image
    img(src="images/ll.png")
  .living-lab-carousel.owl-carousel
    div.living-lab-section
      h2
        | il 
        span living lab
      h3
        | La metodologia
      
      p
        | Il processo di co-design ha visto il coinvolgimento diretto di studenti ed esperti che, tramite la Design Studio Metodology, hanno prodotto nuovi concept utili allo sviluppo del progetto ComfortSense.
    div.living-lab-section
      h2
        | il 
        span living lab
      
      h3
        | La sperimentazione
      
      p
        | L’istallazione di sensori ambientali, il lancio dell’app e il coinvolgimento degli utenti finali permetteranno una prima sperimentazione di ComfortSense. I dati raccolti verranno utilizzati per lo sviluppo della soluzione finale.
    
    div.living-lab-section
      h2
        | il 
        span living lab
    
      
      h3
        | Il risultato
      
      p
        | Il Living Lab si propone come uno spazio in grado di far comunicare persone e progetto. Partendo da un approccio human-centered e dalla sperimentazione diretta, il risultato sarà lo sviluppo di una soluzione flessibile che provveda ai bisogni di persone ed edifici.
    
