//Sidr

.ham
  img(images/ham.png)

.main-menu
  ul
    li#logo
      img(src="images/CS-logo1x.png")
    li
      | l'esperienza
    li
      | il living lab
    li
      | l'ecosistema
    li
      | i partner
    li#download
      button.btn
        | Scarica l'app
    li#social
      img(src="")
      
