.partners-wrapper
  h2
    |  I partners
  
  .partners-grid-first
    div
      img(src="", alt="")
    div
      img(src="", alt="")
    div
      img(src="", alt="")
  
  .partners-grid-second
    div
      img(src="", alt="")
    div
      img(src="", alt="")
    div
      img(src="", alt="")
    div
      img(src="", alt="")
    div
      img(src="", alt="")
    div
      img(src="", alt="")
    div
      img(src="", alt="")
    div
      img(src="", alt="")
